Repository voxpupuli/puppet-python, pull requests merged in 2018-08, with the labels that each got.

#422 modulesync 1.9.6
  .msync.yml
  Gemfile
Labels: modulesync

#425 release 2.1.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#426 Add ubuntu 18.04 support
  .sync.yml
  .travis.yml
  README.md
  metadata.json
Labels: enhancement
