Repository voxpupuli/puppet-python, pull requests merged in 2018-07, with the labels that each got.

#414 support for providing pip3 provider w/ tests. Modified readme 4 examples
  README.md
  manifests/pip.pp
  manifests/requirements.pp
  spec/defines/pip_spec.rb
Labels: enhancement

#415 release 2.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#416 modulesync 1.9.3
  .msync.yml
  .sync.yaml
  .sync.yml
  Gemfile
Labels: modulesync

#417 modulesync 1.9.4
  .msync.yml
  .travis.yml
Labels: modulesync
