Repository voxpupuli/puppet-python, pull requests merged in 2019-06, with the labels that each got.

#491 Fix python::pip installing $editable VCS packages every Puppet run
  manifests/pip.pp
  spec/acceptance/virtualenv_spec.rb
Labels: bug

#474 modulesync 2.7.0
  .msync.yml
  .sync.yml
  .travis.yml
  Dockerfile
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync, needs-work

#492 Release v3.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#494 Release 3.0.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
