Repository voxpupuli/puppet-python, pull requests merged in 2019-12, with the labels that each got.

#523 Allow python::version to contain a point (e.g. python3.7)
  manifests/install.pp
  spec/classes/python_spec.rb
Labels: bug

#498 Use shell to exec pip commands by default
  manifests/pip.pp
  manifests/pip/bootstrap.pp
Labels: bug

#525 modulesync 2.9.0
  .github/CONTRIBUTING.md
  .msync.yml
  Gemfile
  manifests/init.pp
Labels: modulesync

#526 Release 4.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#528 modulesync 2.10.0
  .msync.yml
  .rubocop.yml
  .travis.yml
  Gemfile
  Rakefile
Labels: modulesync
