Repository voxpupuli/puppet-python, pull requests merged in 2019-11, with the labels that each got.

#515 drop Ubuntu 14.04 support
  .sync.yml
  .travis.yml
  metadata.json
Labels: backwards-incompatible

#497 Fix a reassigned variable
  manifests/pip.pp
  spec/defines/pip_spec.rb
Labels: bug

#518 Fix duplicate declaration for python-venv package
  manifests/pyvenv.pp
  spec/classes/python_spec.rb
  spec/defines/pyvenv_spec.rb
Labels: bug

#520 modulesync 2.9.0
  .github/CONTRIBUTING.md
  .travis.yml
  Dockerfile
  Gemfile
  Rakefile
  manifests/init.pp
  manifests/install.pp
  manifests/params.pp
  manifests/pyvenv.pp
  spec/classes/python_spec.rb
  spec/defines/pyvenv_spec.rb
  spec/defines/requirements_spec.rb
  spec/spec_helper.rb
Labels: modulesync
