Repository voxpupuli/puppet-python, pull requests merged in 2020-12, with the labels that each got.

#584 modulesync 4.0.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  .sync.yml
  .travis.yml
  Gemfile
  Rakefile
  manifests/gunicorn.pp
  manifests/init.pp
  manifests/pip.pp
  spec/defines/requirements_spec.rb
Labels: modulesync

#585 python::gunicorn: Fix typo in datatype
  manifests/gunicorn.pp
Labels: bug

#587 python::requirements: make cwd optional (again)
  REFERENCE.md
  manifests/requirements.pp
  spec/defines/requirements_spec.rb
Labels: skip-changelog

#590 enhance pyvenv tests
  spec/acceptance/pyvenv_spec.rb
Labels: enhancement

#592 Fix python::virtualenv to allow virtualenv to not require absolute path
  manifests/virtualenv.pp
  spec/defines/virtualenv_spec.rb
Labels: bug

#595 Set default python to 3
  REFERENCE.md
  manifests/config.pp
  manifests/init.pp
  manifests/install.pp
  manifests/params.pp
  manifests/pip.pp
  manifests/pyvenv.pp
  manifests/virtualenv.pp
  spec/acceptance/class_spec.rb
  spec/acceptance/facts_test_spec.rb
  spec/acceptance/pyvenv_spec.rb
  spec/acceptance/virtualenv_spec.rb
  spec/classes/python_spec.rb
  spec/defines/requirements_spec.rb
  spec/defines/virtualenv_spec.rb
Labels: backwards-incompatible
