Repository voxpupuli/puppet-python, pull requests merged in 2020-04, with the labels that each got.

#541 modulesync 2.12.0
  .github/CONTRIBUTING.md
  .msync.yml
  .rubocop.yml
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync, tests-fail

#545 switch from stahnma/epel to puppet/epel / Ubuntu 16.04: Execute tests on Python 3
  .fixtures.yml
  metadata.json
  spec/acceptance/facts_test_spec.rb
  spec/acceptance/virtualenv_spec.rb
Labels: bug

#546 CentOS: Fix ordering dependency
  manifests/install.pp
Labels: bug

#511 Remove resource collector overriding pip_provider
  manifests/install.pp
Labels: bug

#500 Add option for not managing python and virtualenv packages.
  REFERENCE.md
  manifests/init.pp
  manifests/install.pp
  manifests/params.pp
  spec/classes/python_spec.rb
Labels: enhancement

#547 release 4.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#537 Fixes for virtualenv_version fact when virtualenv > 20.x
  lib/facter/virtualenv_version.rb
  spec/unit/facter/virtualenv_version_spec.rb
Labels: bug

#548 release 4.1.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
