Repository voxpupuli/puppet-python, pull requests merged in 2020-09, with the labels that each got.

#555 Fix undefined method error in facts
  lib/facter/pip_version.rb
  lib/facter/virtualenv_version.rb
  spec/unit/facter/pip_version_spec.rb
Labels: bug

#565 Fix rspec fact tests
  spec/unit/facter/pip_version_spec.rb
Labels: skip-changelog

#563 Drop EOL Debian 8
  .sync.yml
  .travis.yml
  manifests/pyvenv.pp
  metadata.json
  spec/defines/pyvenv_spec.rb
Labels: backwards-incompatible

#566 Drop CentOS 6 support
  metadata.json
  spec/classes/python_spec.rb
Labels: backwards-incompatible

#569 release 5.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
