Repository voxpupuli/puppet-python, pull requests merged in 2021-12, with the labels that each got.

#629 Correct python::pip::environment parameter example
  REFERENCE.md
  manifests/pip.pp
Labels: docs

#627 Remove duplicate arguments in the pip install command
  manifests/pip.pp
  spec/defines/pip_spec.rb
Labels: bug

#632 Release 6.2.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
