Repository voxpupuli/puppet-python, pull requests merged in 2021-04, with the labels that each got.

#603 Drop Puppet 5 support
  metadata.json
Labels: backwards-incompatible

#605 release 6.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#607 Use $real_pkgname for pip uninstall command
  manifests/pip.pp
  spec/acceptance/pip_spec.rb
  spec/defines/pip_spec.rb
Labels: bug

#608 release 6.0.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#609 modulesync 4.1.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .msync.yml
  Dockerfile
  Gemfile
  spec/acceptance/pip_spec.rb
  spec/classes/python_spec.rb
  spec/defines/pip_spec.rb
Labels: modulesync
