Repository voxpupuli/puppet-python, pull requests merged in 2024-02, with the labels that each got.

#684 modulesync 7.3.0
  .github/workflows/ci.yml
  .msync.yml
Labels: modulesync

#686 Add python_path to pyvenv class
  REFERENCE.md
  manifests/pyvenv.pp
  spec/acceptance/pyvenv_spec.rb
Labels: enhancement

#687 Release 7.3.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
